#-----------------------------------------------------------------------------
# Min       Hour    Day     Month   Day     User        Command
#-----------------------------------------------------------------------------
50          23      *       *       *       trivialsec  /usr/local/bin/python3 /srv/app/src/load_nvd_cve.py -y $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00Z' -d "1 day ago") --only-show-errors >> /var/log/trivialsec/cron.log 2>&1
55          23      *       *       *       trivialsec  /usr/local/bin/python3 /srv/app/src/load_oval.py -y $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00:00' -d "1 day ago") --only-show-errors >> /var/log/trivialsec/cron.log 2>&1
5,20,35,50  *       *       *       *       trivialsec  /usr/local/bin/python3 /srv/app/src/load_aws_alas.py -y $(date '+\%Y') --only-show-errors >> /var/log/trivialsec/cron.log 2>&1
5,20,35,50  *       *       *       *       trivialsec  /usr/local/bin/python3 /srv/app/src/load_xforce.py -r --only-show-errors >> /var/log/trivialsec/cron.log 2>&1
