SHELL=/bin/bash
#-----------------------------------------------------------------------------
# Min       Hour    Day     Month   Day     Command
#-----------------------------------------------------------------------------
20          */2     *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_nvd_cve.py --modified --only-show-errors --not-before $(date '+\%Y-\%m-\%dT\%H:00Z' -d "2 hours ago")
40          */2     *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_nvd_cve.py --latest --only-show-errors --not-before $(date '+\%Y-\%m-\%dT\%H:00Z' -d "2 hours ago")
55          23      *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_oval.py -y --cis $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00:00' -d "1 day ago") --only-show-errors
0           1       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_oval.py -y --redhat $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00:00' -d "1 day ago") --only-show-errors
0           2       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_oval.py -y --debian $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00:00' -d "1 day ago") --only-show-errors
30          1       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_oval.py -y --suse $(date '+\%Y') --not-before $(date '+\%Y-\%m-\%dT00:00:00' -d "1 day ago") --only-show-errors
5,20,35,50  *       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_aws_alas.py -y $(date '+\%Y') --only-show-errors
10,40       *       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_xforce.py -r --only-show-errors
15,45       *       *       *       *       docker-compose exec --user trivialsec:trivialsec batch src/runlog python src/load_exploitdb.py -r --only-show-errors
